 /* родитель */

 .block {}

 /* flex-контейнер */

 .block__row {
   /* border: 10px solid #ece89d; */
   display: flex;
   flex-direction: column;
   height: 300px;
   align-items: center;

 }

 /* flex-элемент */

 .block__element {

}

/* flex-элемент №1 */

.Title {
  /* border: 5px solid #5e5373; */
  /* text-align: center; */
  height: 80px;
  width: 700px;
 }

 .Text {
  /* border: 5px solid #18b5a4; */
  /* text-align: center; */
  height: 100px;
  width: 650px;
 }

 /* flex-элемент №2 */

 .block__button {
  /* display:flex; */
  /* flex-direction:row-reverse; */

 }


 /* контент */

 .block__content {
   /* background-color: #18b5a4; */
   /* плюс прочие стили для текста, отступы */

 }
